.character-details {
  padding: 20px 0;
  position: relative;
  height: 90vh;
}

.character-image {
  width: 386px;
  height: 386px;
  position: absolute;
  border-radius: 12px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.character-info{
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 20%;
  right: 0;
  width: 80%;
  padding: 20px 10px 20px 300px;
  border-radius: 10px;
  background-color: #fffff750;
  border-top: 2px solid #fffff5c9;
  border-left: 2px solid #fffff5;
  box-shadow: 5px 5px 12px #000005da;
  backdrop-filter: blur(4px);
  z-index: 1;
}