@import "./variables.css";

body{
    background-color: var(--light-background);
    color: var(--color-black);
    font-family: var(--font-family-sans);
    line-height: 1.5;
}

a{
    color: var(--color-primary-dark);
    text-decoration: none;
}